.building__treething-node {
  width: 100%;
  >.header {
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 140, 0, 0.3);
    }
    >span {
      display: inline-block;
    }
    >.expand {
      font-size: 10px;
    }
    >.expand, >.spacer {
      width: 10px;
      padding-right: 2px;
    }
  }
  >.children {
    margin-left: 10px;
  }
  &.is-selected {
    >.header {
      background-color: rgb(255, 140, 0);
    }
  }
}